<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calendar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/essentials.css">

</head>

<body>
<%- include('partials/nav') %>

    <!-- <script src="calendar.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


<div>
    <p>
        <a href="https://almanac.upenn.edu/penn-academic-calendar" class="links">Penn Academic Calendar</a>
    </p>
    <p>
        <a href="https://portal.apps.upenn.edu/penn_portal/intouch/splash.html" class="links">Penn InTouch</a>
    </p>
    <p>
        <a href="https://canvas.upenn.edu/" class="links">Penn Canvas</a>
    </p>
    <p>
        <a href="https://gather.town/app/aQMGI0l1R8DP0Ovv/penn-cis" class="links">Gather.Town</a>
    </p>

</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12233.457040489075!2d-75.21289915!3d39.955607949999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x84bdb6989903b692!2sSchool%20of%20Engineering%20and%20Applied%20Science!5e0!3m2!1sen!2sus!4v1610826643185!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</body>


</html>