<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img src="/1.png" style="width: 200px; margin-top: 10px;">
    <h1 class="display-3" style="margin-bottom: 50px; margin-top: 50px">UPENN to-do list</h1>
    <p class="lead" style="margin-bottom: 50px">Welcome to your personal calendar!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button" >Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button" >Login</a>

  </div>
</div>

<%- include('partials/footer') %>
