@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
html {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    position: absolute; width:100%; height: 100%;
}

body {
    background-color:#fcee6d;
    display: flex;
/*    justify-content: center;*/
    /*align-items: center;*/
    min-height: 50vh;
}



.links {
    /*border-bottom: 2px solid #3a3a3a;*/
    color: #223857;
    cursor: pointer;
    text-decoration: none;
}

.links:hover {
    text-shadow: 0 0 5px red;
    text-decoration: none;
}
a{
    text-decoration: none;
}

div.variousUrl{
    width: 100%;
    margin-top: 100px;
    /*text-align: center;*/
    background-color: #fff3e0;
    /*list-style-type:'\1F4A1';*/
    margin-left: 75%;
}

ul {
    list-style-type:'\1F4A1';
    /*position: relative;*/

}

li {
    font-family: 'Bradley Hand', cursive;
    margin-left: 200px;
}
/*
div.singleUrl:hover{
    background-color: #ff999a;
}*/




/*

li span {
    position: relative;
}

.links {

    color: #223857;
    cursor: pointer;
    text-decoration: none;
}

.links:hover {
    text-shadow: 0 0 5px red;
    text-decoration: none;
}
*/


div.words {
    position: relative;
    top: 25px;
    /*margin-left: 75%;*/
    left: 600px;
    font-family: 'Bradley Hand', cursive

}

h3 {

    font-weight: bold;
}

iframe {
    position: relative;
    top: 25px;
    /*margin-left: 75%;*/
    left: -150px;
}


