@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    position: absolute; width:100%; height: 100%;
}



body {
    background-color:#fcee6d;
    /*display: relative;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    min-height: 100vh;
    min-width: 100vw;
}


header {

    width: 100%;
    /*background: linear-gradient(to bottom, #fcee6d 5%, #ff9999 119%);*/
    margin-top: 10px;
    padding: 60px 40px;
    color: black;
    /*text-align: center;*/
    font-family: 'Montserrat', sans-serif;
/*=======*/
/*    !*width: 100%;*!*/
/*    background: linear-gradient(to bottom, #fcee6d 5%, #ff9999 119%);*/
/*    margin-top: 40px;*/
/*    padding: 60px 40px;*/
/*    text-align: center;*/

/*>>>>>>> 8a4f219ac5c224960efe86d2b38148c2dde2b773*/
/*    !*position: fixed;*!*/

}

h4 {
    /*display: block;*/
    font-family: Arial;
    font-size: 1em;
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-weight: bold;
    color:black;

}

#Philadelphia_z161 {
    font-family: 'Bradley Hand', cursive;
    font-size: 1em;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.box {
    margin-top: 10px;
    margin-left: 25%;
    width: 50%;
    display: block;
    padding: 50px;
    background-color: #fff3e0;
}



#heading {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 4em;
    margin-bottom: 20px;
    font-weight: bold;
    margin-left: 60%;
}


.item {
    font-family: 'Bradley Hand', cursive;
    margin-bottom: 5px;
    font-size: 30px;

}

input:placeholder-shown {
    /*border: 2px solid #ff9999;*/
    
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;

}
input::placeholder {
    font-family: 'Bradley Hand', cursive;
}

button.add {
    border-radius: 5px;
    background-color: #ff9999;
}

button.add:hover {
    cursor: pointer;
    background-color: #3399ff;
}

#linkweb {
    font-size: 80px;
}

